.container {
  width: 106.7rem;
  min-height: 68rem;
  background-color: var(--color-white);
  margin: 2rem;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  overflow: hidden;
  display: grid;
  padding: 2rem;
  grid-template-columns: 31rem repeat(2, 1fr);
  grid-template-rows: 48.4rem 1fr;
  column-gap: 1rem;
}
