.finishUpContainer {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  //   grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 2.5rem;

  .receiptContainer {
    padding: 2.5rem;
    background-color: var(--color-magnolia);
    border-radius: 1rem;
    grid-column: 1 / -1;
  }
}
