@import "../index.scss";

.personalInfoContainer {
  height: 100%;
  display: grid;
  align-items: start;
  padding: 2rem 0;

  @media only screen and (max-width: $bg-large) {
    grid-template-rows: repeat(3, min-content);
    padding: 2rem 0 0 0;
  }
}
