.sidebarContainer {
  background: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;

  padding: 4rem 3.5rem;
}
