.stepContainer {
  height: 100%;
  width: 100%;

  padding: 4rem 10rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 40rem 1fr;
  align-items: center;

  h1 {
    grid-column: 1 / -1;
    font-size: 3.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-marine-blue);
  }

  h2 {
    grid-column: 1 / -1;
    font-size: 1.8rem;
    color: var(--color-cool-gray);
    font-weight: var(--font-weight-regular);
  }
}

:global(.outlet) {
  grid-column: 1 / -1;
  height: 100%;
  padding: 2rem 0;
}
