.totalContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2.5rem;

  p {
    color: var(--color-cool-gray);
    font-weight: var(--font-weight-regular);
  }

  h1 {
    grid-column: 2 / -1;
    justify-self: end;
    font-size: 2.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-purplish-blue);
  }
}
